.vectorMapContainer {
  display: block;
  position: relative;
}

.vectorMap {
  display: flex;
}

.legend {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #64748b;
  margin-top: 8px;
}

.legendName{
  font-size: xx-small;
}

.legendColorSuccess,
.legendColorFail {
  width: 10px;
  height: 10px;
  border-radius: 4px;
}

.legendColorSuccess {
  background-color: #22c55e;
}

.legendColorFail {
  background-color: #ef4444;
}